<div class="flex flex-col">
    <div class="font-bold text-2xl text-gray-700 text-center mt-5">
        <span>Registro de empleados</span>
    </div>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-2 mt-10 w-full text-sm md:text-[16px] md:w-3/4 m-auto">
            <div class="flex flex-col">
                <label>Primer Apellido:</label>
                <input maxlength="20" class="border" formControlName="primer_apellido" type="text" appMayus>
            </div>
            <div class="flex flex-col">
                <label>Segundo Apellido:</label>
                <input maxlength="20" class="border" formControlName="segundo_apellido" type="text" appMayus>
            </div>
            <div class="flex flex-col">
                <label>Primer Nombre:</label>
                <input maxlength="20" class="border" formControlName="primer_nombre" type="text" appMayus>

            </div>
            <div class="flex flex-col">
                <label>Otros Nombres:</label>
                <input maxlength="50" class="border" formControlName="otros_nombres" type="text" appMayus>
            </div>
            <div class="flex flex-col">
                <label>País de Empleo:</label>
                <select class="border" formControlName="pais_empleo" name="pais" id="pais">
                    @for (item of paisEmpleo; track $index) {
                        <option [value]="item">{{item}}</option>
                    }
                </select>
            </div>
            <div class="flex flex-col">
                <label>Tipo de Identificación:</label>
                <select class="border" formControlName="tipo_identificacion" name="tipoid" id="tipoid">
                    @for (item of tipoIdentificacion; track $index) {
                        <option [value]="item">{{item}}</option>
                    }
                </select>
            </div>
            <div class="flex flex-col">
                <label>N° de Identificación:</label>
                <input maxlength="20" class="border" formControlName="numero_identificacion" type="text" appNumeroId>
            </div>
            <div class="flex flex-col">
                <label>Email:</label>
                <input class="border" formControlName="correo_electronico" type="email">
            </div>
            <div class="flex flex-col">
                <label>Fecha de Ingreso:</label>
                <input class="border" formControlName="fecha_ingreso" type="date" appFechaIn>
            </div>
            <div class="flex flex-col">
                <label>Área:</label>
                <select class="border" name="area" id="area" formControlName="area">
                    @for (item of area; track $index) {
                        <option [value]="item">{{item}}</option>
                    }
                </select>
            </div>
            <div class="flex flex-col">
                <label>Estado:</label>
                <input readonly class="border" formControlName="estado" value="Activo" type="text">
            </div>
            <!-- <div class="flex flex-col">
                <label>Fecha y hora de registro:</label>
                <input class="border" formControlName="segundo_apellido" type="text">
            </div> -->
        </div>
      
        <div class="flex justify-center mt-6">
            <button 
            class="bg-teal-500 text-white rounded-lg py-2 px-6 cursor-pointer hover:shadow-lg transition-all hover:font-bold"
            type="submit" 
            >Registrar</button>
        </div>
      </form>
</div>