<!-- component -->
<div class="font-bold text-2xl text-gray-700 text-center mt-2">
    <span>Lista de empleados</span>
</div>
<div class="bg-white p-3 rounded-lg mt-5 shadow-sm border ">
    <div class="overflow-x-auto overflow-y-auto h-[400px]">
        <table class="min-w-full bg-white text-sm px-3 rounded-xl table-auto">
            <thead>
                <tr class="bg-blue-gray-100 text-gray-500 text-center font-light">
                    <th>NOMBRE</th>
                    <th>OTROS NOMBRES</th>
                    <th>PRIMER APELLIDO</th>
                    <th>SEGUNDO APELLIDO</th>
                    <th>TIPO DE IDENTIFICACION</th>
                    <th>NUMERO DE IDENTIFICACION</th>
                    <th>PAIS</th>
                    <th>EMAIL</th>
                    <th>ESTADO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody class="text-blue-gray-900 text-center">
                @if ($dataAllEmployees | async; as employees) {
                @for (employee of employees; track $index) {
                <tr class="border-b">
                    <td>{{ employee.primer_nombre }}</td>
                    <td>{{ employee.otros_nombres }}</td>
                    <td>{{ employee.primer_apellido }}</td>
                    <td>{{ employee.segundo_apellido }}</td>
                    <td>{{ employee.tipo_identificacion }}</td>
                    <td>{{ employee.numero_identificacion }}</td>
                    <td>{{ employee.pais_empleo }}</td>
                    <td>{{ employee.correo_electronico }}</td>
                    <td>{{ employee.estado }}</td>
                    <td>
                        <div class="flex justify-evenly gap-1 bg-gray-100 p-2 rounded-lg">
                            <button class="rounded-md p-2 bg-teal-600 text-teal-600">
                                <img src="../../../../../assets/img/employee/edit.svg" alt="edit" width="16px">
                            </button>
                            <button class="rounded-md p-2 bg-red-500">
                                <img src="../../../../../assets/img/employee/delete.svg" alt="edit" width="16px">
                            </button>
                        </div>
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>
    </div>
</div>